<!Doctype <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>HOME</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="{{url_for('static', filename='css/main.css')}}" />
    <script src="main.js"></script>
</head>
<body>
    <div>
         <h1> Welcome to Agrolliz</h1>
    </div>

    <p> <strong>AGROLLIZ</strong> is a platform that will connect farmers to financial organizations, biotech companies
         that sell technologies (like improved crop varieties, seedlings, organic manure, etc.), storage houses and national and international market  </p>
        <div>
            <a href="https://www.biotech companies page.com"> Biotech companies </a>
        </div>
        <div>
           <a href = "https://www.farmer'spage.com">Farmers page</a>
        </div> 
        <div>
            <a href favour = "https://www.consumer'spage.com"> Consumers page</a>
        </div>
    
    <h3> Agrolliz your Best Choice as a Farmer</h3>
    
   
</body>
</html>